@tailwind base;
@tailwind components;
@tailwind utilities;




/*animations*/
.animated-delay-1 {
  animation-delay: 0.5s;
}

.animated-delay-2 {
  animation-delay: 1s;
}

.animated-delay-3 {
  animation-delay: 1.5s;
}

.animated-delay-5 {
  animation-delay: 2s;
}

.animated-delay-4 {
  animation-delay: 3s
}

.animate-duration {
  animation-duration: 1s;
}





/*responsive for mobile*/

@media (max-width: 768px) {
  #myName {
    width: 100%;
  }
  .nameHere {
    left: 50%;
    transform: translateX(-50%);
  }
}

html {
  scroll-behavior: smooth;
}

/*accordion structure*/
.ootb-tabcordion {
  background: lightgray;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  height: auto;
  margin: 5rem auto 5rem auto;
  border-radius: 20px;
  font-family: "Space Grotesk" ;
}

.ootb-tabcordion--tabs {
  opacity: 0;
  height: auto;
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  list-style: none;
}
.ootb-tabcordion--entry-content {
  position: relative;
  margin-top: -100%;
  height: 4rem;
  opacity: 0;
  transition: margin 500ms ease-in;
  padding: 1rem;
}

.ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  margin-top: 1em;
  min-height:auto;
  height: 280px;
  opacity: 1;
  transition: margin 400ms ease-out -100ms;
  border: solid darkgray;
  overflow: auto;
}

.ootb-tabcordion--tabs .tab {
  border-radius: 10px;
  border-right: 2px solid white;
  border-bottom: .5px solid white;
  cursor: pointer;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--tabs {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.ootb-tabcordion--entry::before {
  position: relative;
  content: attr(data-title);
  cursor: pointer;
  z-index: 1;
  background: black;
  color: white;
  padding: 0.5rem 2rem;
  display: block;
  border-radius: 20px;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry::before {
  display: none;
}

.ootb-tabcordion--entry {
  overflow: hidden;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry .ootb-tabcordion--entry-content {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ootb-tabcordion--entry-container {
  overflow: hidden;
}

.ootb-tabcordion--entry:hover, .ootb-tabcordion--entry:focus {
  outline: none;
}



/*coloring & style*/

body {
  background-image:linear-gradient(to bottom, #1E273BFF, #FBB57DFF)
}

.ootb-tabcordion--entry.is-active:hover::before, .ootb-tabcordion--entry.is-active:focus::before {
  background:  #FBB57DFF;
}

.ootb-tabcordion--entry.is-active::before {
}

.ootb-tabcordion--entry:hover::before, .ootb-tabcordion--entry:focus::before {
  background:  #FBB57DFF;
}

.ootb-tabcordion--tabs .tab.is-active {
}

.ootb-tabcordion--tabs .tab.is-active:hover, .ootb-tabcordion--tabs .tab.is-active:focus {
  background: #FBB57DFF;
  margin-bottom: 2em;
  padding:20px;
}

.ootb-tabcordion--tabs .tab:hover, .ootb-tabcordion--tabs .tab:focus {
  background: #FBB57DFF;
  margin-bottom: 2em;
  padding:20px;
}

/*setting text styles, fonts, ect..*/
p {
  line-height: 1.6;
}

.nameHere .contactArea .tabStuff button.contactMe {
  font-family: "Space Grotesk" ;
}

.foodThought {
  font-family: "Annie Use Your Telescope";
}

