@tailwind base;
@tailwind components;
@tailwind utilities;


span.nameHere, span.professionHere, h1 {
  font-size: 2rem;
}

p.aboutmeText {
  font-size: .90rem;
}

p.borderOne {
  border-bottom: 1px black;
}


* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background: #dce2e2;
  color: #444;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  margin-top: 0;
  line-height: 1.6;
}

