@tailwind base;
@tailwind components;
@tailwind utilities;

/*responsive for mobile*/
@media (max-width: 768px) {
  .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
    height: auto; /* Adjust height for smaller screens */
    max-height: none; /* Remove max-height for smaller screens */
    transition: none; /* Remove transition for smaller screens */
  }
}
@media (max-width: 768px) {
  #Up {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nameHere {
    left: 50%;
    transform: translateX(-50%);
  }
}

html {
  scroll-behavior: smooth;
}

/*accordion structure*/
.ootb-tabcordion {
  background: lightgray;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  height: auto;
  margin: 5rem auto 5rem auto;
  border-radius: 20px;
  font-family: "Space Grotesk" ;
}

.ootb-tabcordion--tabs {
  opacity: 0;
  height: auto;
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  list-style: none;
}

.ootb-tabcordion--tabs .tab {
  border-radius: 10px;
  border-right: 2px solid white;
  border-bottom: .5px solid white;
  cursor: pointer;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--tabs {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.ootb-tabcordion--entry::before {
  position: relative;
  content: attr(data-title);
  cursor: pointer;
  z-index: 1;
  background: black;
  color: white;
  padding: 0.5rem 2rem;
  display: block;
  border-radius: 20px;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry::before {
  display: none;
}

.ootb-tabcordion--entry {
  overflow: hidden;
}

.ootb-tabcordion--entry-content {
  position: relative;
  margin-top: -100%;
  height: 4rem;
  opacity: 0;
  transition: margin 500ms ease-in;
  padding: 1rem;
}

.ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  margin-top: 1em;
  height: 300px;
  max-height: auto;
  opacity: 1;
  transition: margin 400ms ease-out -100ms;
  border: solid darkgray;
  overflow: auto;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.ootb-tabcordion.has-tabs .ootb-tabcordion--entry .ootb-tabcordion--entry-content {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ootb-tabcordion--entry-container {
  overflow: hidden;
}

.ootb-tabcordion--entry:hover, .ootb-tabcordion--entry:focus {
  outline: none;
}



/*coloring & style*/
.ootb-tabcordion--entry.is-active:hover::before, .ootb-tabcordion--entry.is-active:focus::before {
  background:  #00CED1;
}

.ootb-tabcordion--entry.is-active::before {
}

.ootb-tabcordion--entry:hover::before, .ootb-tabcordion--entry:focus::before {
  background:  #00CED1;
}

.ootb-tabcordion--tabs .tab.is-active {
}

.ootb-tabcordion--tabs .tab.is-active:hover, .ootb-tabcordion--tabs .tab.is-active:focus {
  background: #00CED1;
  margin-bottom: 2em;
  padding:20px;
}

.ootb-tabcordion--tabs .tab:hover, .ootb-tabcordion--tabs .tab:focus {
  background: #00CED1;
  margin-bottom: 2em;
  padding:20px;
}

/*setting text styles, fonts, ect..*/
p {
  line-height: 1.6;
}

.nameHere .contactArea .tabStuff {
  font-family: "Space Grotesk" ;
}

/*.navTags {*/
/*  font-family: 'Gluten';*/
/*}*/



.foodThought {
  font-family: "Annie Use Your Telescope";
  font-size: 1rem;
}

