@tailwind base;
@tailwind components;
@tailwind utilities;


span.nameHere {
    font-size: 2rem;
}

span.professionHere {
    font-size: 2rem;
}

div.contactHere {
    font-size:
}

h1 {
    font-size: 2rem;
}

p.aboutmeText {
    font-size: .90rem;
}

p.borderOne {
    border-bottom: 1px black;
}
